<% layout("/layouts/boilerplate") %>
<%= success %>
<style>
    /* .filters{
        display:flex;
        flex-wrap:wrap;
    } */
    .filter{
        text-align:center;
        margin:1rem 2rem 0 0;
        opacity:0.7;
    }
    .filter:hover{
        opacity:1;
        cursor: pointer;
    }
    .filter p{
        font-size:13px;
    }
</style>
<body>
    <div class="filters">
        <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-building"></i></div>
            <p>Modern Town</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-umbrella-beach"></i></div>
            <p>BeachFront</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountain</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-house"></i></div>
            <p>Cottage</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-chess-rook"></i></div>
            <p>Villa</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-cow"></i></div>
            <p>FarmHouse</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-water"></i></div>
            <p>Lake</p>
        </div>
        <div class="filter">
            <div><i class="fa-regular fa-snowflake"></i></div>
            <p>Arctic</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain-sun"></i></div>
            <p>Hiking</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-landmark-dome"></i></div>
            <p>Historical-homes</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-tree"></i></div>
            <p>Treehouse</p>
        </div>
        <div class="filter">
            <div><i class="fa-regular fa-snowflake"></i></div>
            <p>Arctic</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain-sun"></i></div>
            <p>Hiking</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-landmark-dome"></i></div>
            <p>Historical-homes</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-tree"></i></div>
            <p>Treehouse</p>
        </div>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-2">
        <% for(let listing of allListings){ %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
            <div class="card col listing-card">
                <img src="<%=listing.image.url%>" class="card-img-top" alt="listings-images" style="height:15rem">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                  <p class="card-text">
                    <B><%= listing.title%><br></B>
                    <!-- i have removed tolocaleString from the price due to error -->
                    &#8377; <%= listing.price.toLocaleString("en-IN")%>/night
                  </p>
                </div>
            </div>
            </a>
        <% } %>
    </div>  
</body>

